.honda-bg-primary {
  background-color: #264653;
}
.honda-p-color {
  color: #e0e0e0;
}
.honda-btn-primary {
  background-color: #e76f51;
}
.honda-text-primary {
  color: #e76f51;
}
.honda-client-img {
  height: 149px;
  width: 149px;
}
.honda-award-img {
  height: 300px;
  width: 180px;
}
